@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:wght@200&family=Poppins:wght@200&display=swap');
 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content */
  .menuModal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .menuModal-header{
      font-size: 80px;
      font-family: 'Imperial Script', cursive;
      color: white;
      display: flex;
      justify-content: center;
      text-shadow: 0 0 10px #FFFFFF;
      box-shadow: 0 4px 2px -2px #FFFFFF;
      margin: 0;
  }  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  
  /* Modal Content/Box */
  .menuModal-content {
    background-color: #1e1e1e;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .menuModal-items{
      display: flex;
      justify-content: center;
      margin: 0px 5px;
  }
  .menuModal-item{
      margin: 6%;
  }
  .menuModal-item h5,p{
      color: white;
  }
  .menuModal-item-image{
    width: 100%;
    margin: 4%;
   }
   .menuModal-item-content{
      display: inline-flex;
      flex-direction: column;
   }
   .menuModal-item-content button{
    border-radius: 0.3rem;
    border: none;
    padding: 10px;
    text-shadow: 0 0 30px #ffffff;
    color: white;
    background-color: orange;
   }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  /* hovers */
  .menuModal-item-content button:hover{
    transition: 0.3s;
    text-shadow: 0 0 10px #FFFFFF;
    background-color: white;
    color: orange;
  }